<h1 class="main-text">Я Дрон, начинающий веб-разработчик.</h1>

<p class="text">Мне 28 лет. На протяжении последних трёх я занимался тем, что работал в крафтовых барах Петербурга. Три долгих года я наливал так называемое пиво разработчикам абсолютно разного пошиба и социального статуса. Но всему есть предел. Хватит. Пустите меня за ваш стол. Я тоже хочу обсуждать перспективы Svelte на ближайшие годы. Возможно я страшно тупой. Возможно. Зато усидчивый.</p>

<img class="me" src="../../assets/head.png" alt="">
<button class="button" routerLink="/projects"> Мои проекты </button>

