.main-text {
    position: absolute;
    top: 15rem;
    color: white;

}

.text {
    position: absolute;
    top: 20rem;
    color: rgb(255, 255, 255);
    max-width: 40rem;
}

.me {
    position: absolute;
    bottom: 180px;
    right: 100px;
    width: 480px;
    height: 380px;
    animation: 2s linear 0s normal none infinite running me;
    -webkit-animation: 2s linear 0s normal none infinite running me;
    @keyframes me {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes me {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.button {
    position: absolute;
    top: 30rem;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;

    &:hover {
        animation: gradient 3s infinite;
        transform: scale(1.05);
        cursor: pointer;
    }

    &:active {
        animation: gradient 3s infinite;
        transform: scale(0.8);
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1150px) {
    .me {
        display: none;
    }
}

