.page {
    width: 100%;
    height: 100vh;
    position: relative;

    background: #000 url("../../../../assets/background.jpg") center no-repeat;
    background-size: cover;
}

.header {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(38, 255, 231, 1) 35%, rgba(144, 100, 241, 1) 100%);
}

.back-button {
    color: white;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 1.6rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.header-logo {
    &:hover {
        cursor: pointer;
    }
}

.header-nav-link {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    margin-left: 16px;

    &:hover {
        text-decoration: underline;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 50px;
    left: 70px;
}

.contacts-link {
    margin-right: 80px;
}

.hamburger-menu {
    visibility: hidden;
}

.burger {
    position: absolute;
    top: 22px;
    right: 27px;
}

.close-button {
    position: absolute;
    top: 28px;
    right: 33px;
}

.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        background-color: rgba(144, 100, 241, 1);
    }
}

.active {
    visibility: visible;
    top: 0;
}

.menu-box {
    transition-duration: .25s;
}

.menu-item {
    transition-duration: .25s;
}


@media (max-width: 787px) {
    .header-brand {
        display: none;
    }
}

@media (max-width: 520px) {
    .header-nav {
        display: none;
    }

    .contacts {
        display: none;
    }

    .hamburger-menu {
        visibility: visible;
    }

    .header-logo {
        visibility: hidden;
    }
}

@media (max-height: 650px) {
    .contacts {
        display: none;
    }
}

@media (max-width: 730px){
    .contacts {
        display: none;
    }
}
