<div class="page">
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-brand" routerLink="/">
                    О нет только не это
                </div>

                <img class="header-logo" routerLink="/" src="../../../../assets/logo.png" alt="logo" height="80px"
                     width="80px">

                <nav class="header-nav">
                    <a class="header-nav-link" routerLink="/projects">Проекты</a>
                    <a class="header-nav-link" routerLink="/music">Музыка</a>
                    <a class="header-nav-link" routerLink="/about">Эбаут</a>
                    <a class="header-nav-link" routerLink="/contacts">Контакты</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="container">
            <div class="contacts">
                <app-contact-link name="email-footer" link="mailto:wokzyrg@gmail.com" class="contacts-link">wokzyrg@gmail.com</app-contact-link>
                <app-contact-link name="phone-footer" class="contacts-link" link="tel:7(999)538-22-67">7(999)538-22-67</app-contact-link>
            </div>
        </div>
    </footer>

        <div class="hamburger-menu">
            <img src="../../../../assets/hamburger.png" (click)="toggle()" class="burger" height="35" width="35" alt="">

            <ul class="menu-box" [ngClass]="{active: isActive}">
                <img class="close-button" (click)="toggle()" src="../../../../assets/close.png" alt="" height="25" width="25">
                <li><a class="menu-item" routerLink="/" (click)="toggle()">Главная</a></li>
                <li><a class="menu-item" routerLink="/projects" (click)="toggle()">Проекты</a></li>
                <li><a class="menu-item" routerLink="/music" (click)="toggle()">Музыка</a></li>
                <li><a class="menu-item" routerLink="/about" (click)="toggle()">Эбаут</a></li>
                <li><a class="menu-item" routerLink="/contacts" (click)="toggle()">Контакты</a></li>
            </ul>
        </div>
</div>





