<div class="page">
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-brand">
                    О нет только не это
                </div>

                <img class="header-logo" src="../../../../assets/logo.png" alt="logo" height="80px" width="80px" >

                <nav class="header-nav">
                    <a class="header-nav-link">Проекты</a>
                    <a class="header-nav-link">Музыка</a>
                    <a class="header-nav-link">Эбаут</a>
                    <a class="header-nav-link">Контакты</a>
                </nav>
            </div>
        </div>
    </header>
</div>

<!--<div class="container">-->
<!--    <router-outlet></router-outlet>-->
<!--</div>-->
