html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Lucida Console", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;

    @media (max-width: 1200px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}



