button {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;

    &:hover {
        animation: gradient 3s infinite;
        transform: scale(1.05);
        cursor: pointer;
    }

    &:active {
        animation: gradient 3s infinite;
        transform: scale(0.8);
    }
}
