<a class="back-button" routerLink="/">Вернуться к вращающейся голове</a>

<div class="content">
    <h1 class="main-text">Контакты:</h1>

    <div class="contacts-list">
        <app-icon name="phone-white" link="tel:+7(999)538-22-67" [height]="51.2" [width]="51.2"></app-icon>
        <app-icon name="email-white" link="mailto:wokzyrg@gmail.com" [height]="35.2" [width]="51.2"></app-icon>
        <app-icon name="github-white" link="https://github.com/andywokzyrg" [height]="50.2" [width]="51.2"></app-icon>
        <app-icon name="telegram-white" link="https://t.me/andywokzyrg" [height]="42.8" [width]="51.2"></app-icon>
        <app-icon name="vk-white" link="https://vk.com/andywokzyrg" [height]="29.3" [width]="51.2"></app-icon>
        <app-icon name="twitter-white" link="https://twitter.com/andywokzyrg" [height]="41.6" [width]="51.2"></app-icon>
        <app-icon name="instagram-white" link="https://instagram.com/andywokzyrg" [height]="51.2" [width]="51.2"></app-icon>
    </div>
</div>
