<div class="content">
    <h1 class="text">Пишите куда удобно, но лучше в телегу.</h1>

    <a href="https://github.com/andywokzyrg" target="_blank"><img class="social-icon" src="../../assets/github-white.png" alt="github"></a>
    <a href="https://t.me/andywokzyrg" target="_blank"><img class="social-icon" src="../../assets/telegram-white.png" alt="telegram"></a>
    <a href="https://vk.com/andywokzyrg" target="_blank"><img class="social-icon" src="../../assets/vk-white.png" alt="vk"></a>
    <a href="https://twitter.com/andywokzyrg" target="_blank"><img class="social-icon" src="../../assets/twitter-white.png" alt="twitter"></a>
    <a href="https://instagram.com/andywokzyrg" target="_blank"><img class="social-icon" src="../../assets/instagram-white.png" alt="instagram"></a>
</div>
