<div class="content">
    <h1 class="main-text">Контакты:</h1>

    <div class="contacts-list">
        <a href="tel:89995382267" target="_blank"><img class="social-icon" src="../../assets/phone-white.png"
                                                       alt="phone" height="51.2" width="51.2"></a>
        <a href="mailto:wokzyrg@gmail.com" target="_blank"><img class="social-icon" src="../../assets/email-white.png"
                                                                alt="email" height="35.2" width="51.2"></a>
        <a href="https://github.com/andywokzyrg" target="_blank"><img class="social-icon"
                                                                      src="../../assets/github-white.png" alt="github"
                                                                      height="50.2" width="51.2"></a>
        <a href="https://t.me/andywokzyrg" target="_blank"><img class="social-icon"
                                                                src="../../assets/telegram-white.png" alt="telegram"
                                                                height="42.8" width="51.2"></a>
        <a href="https://vk.com/andywokzyrg" target="_blank"><img class="social-icon" src="../../assets/vk-white.png"
                                                                  alt="vk" height="29.3" width="51.2"></a>
        <a href="https://twitter.com/andywokzyrg" target="_blank"><img class="social-icon"
                                                                       src="../../assets/twitter-white.png"
                                                                       alt="twitter" height="41.6" width="51.2"></a>
        <a href="https://instagram.com/andywokzyrg" target="_blank"><img class="social-icon"
                                                                         src="../../assets/instagram-white.png"
                                                                         alt="instagram" height="51.2" width="51.2"></a>
    </div>
</div>
