.content {
    margin-top: 220px;
}

.text {
    color: white;
}

.social-icon {
    width: 5%;
    height: 5%;
    margin-right: 20px;
}

.social-icon:hover {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
