.content {
    margin-top: 200px;
    max-width: 600px;
}

.main-text {
    color: white;
    margin-bottom: 1rem;
}

.text {
    color: white;
}

@media (max-width: 520px) {
    .content {
        margin-top: 30px;
    }

    .main-text {
        font-size: 1.5rem;
    }

}
